
@section scripts {
    <link href="~/Content/Site.css" rel="stylesheet" />
}
@{
    ViewBag.Title = "Menu";
}

<ul>
    <li>
        <a href="@Url.Action("Index","JsUnitTest")" title="">Javascript Unit Tests</a>
    </li>
    <li>
        <a href="@Url.Action("Position","Css")" title="">Css Possitioning</a>
    </li>
    <li>
        <a href="@Url.Action("Flex","Css")" title="">Css Flex Box Model</a>
    </li>

    <li>
        <a href="@Url.Action("Index","Gantt")" title="">Gantt Index</a>
    </li>
    <li>
        <a href="@Url.Action("Test","Gantt")" title="">Gantt Test</a>
    </li>
    <li>
        <a href="@Url.Action("Index","Regex")" title="">Regex Test</a>
    </li>
    <li>
        <a href="@Url.Action("RegexVisualizer","Regex")" title="">Regex Visaulizr</a>
    </li>
</ul>

