@section scripts{    
    <script src="~/Scripts/Gantt/gantt.js"></script>
    <style>
        table {
            font-family: sans-serif Verdana;
            border: 2px solid black;
            border-collapse: collapse;
	        border-spacing: 0;            
        }
        table, th, td {
            border: 1px solid black;
        }

        .gantt-week {
            background-color: #fff;
        }
        .gantt-subheader {
            background-color: #fff;
        }
        .gantt-husercolumn {
            background-color: #fff;
        }
        .gantt-usercolumn {
            background-color: #fff;
        }
        .gantt-day {
            background-color: #fff;
        }
        .gantt-cell {
            background-color: #fff;
        }
        .gantt-usercolumn {
            background-color: #fff;
        }
        .gantt-dayoff {
            background-color: #fff;
        }
        .gantt-cell {
            background-color: #fff;
        }

        #info {
            position:relative;
            top:10px;
            color:red;
            border:solid 2px gray;
            width:300px;
            height:50px;
            padding:5px;

        }
    </style>
    <script>
        function tdEnter(td) {
            var content = td.attr("class");
            $("#info").html(content);

            if (content.indexOf("gantt-active") == -1) {
                td.css("background-color", "gray");
            }
        }
        function tdleave(td) {            
            $("#info").html("");
            var content = td.attr("class");
            if (content.indexOf("gantt-active") == -1) {
                td.css("background-color", "#fff");
            }
        }

        $(function () {            
            var table = $("table:first");
            var start = new Date(2014, 0, 1);
            var end = new Date(2014, 0, 31);
            var gantt = new ro.GanttChart(table, start, end);
            gantt.loadJson("@Url.Action("GetRows", "Gantt")");

            table.on("mouseover", "td", function () {
                var td = $(this);
                tdEnter(td);
            });
            table.on("mouseout", "td", function () {
                var td = $(this);
                tdleave(td);
            });
            table.on("mouseover", "th", function () {
                var th = $(this);
                tdEnter(th);
            });
            table.on("mouseout", "th", function () {
                var th = $(this);
                tdleave(th);
            });
        });
    </script>    
}
@{
    ViewBag.Title = "The ro.Gant Object";
}

<h2>The ro.Gantt Object</h2>
<article>
    <header>
        <h1>
            gantt.js
        </h1>
    </header>
    <a href="~/Scripts/Gantt/gantt.js">downlad</a>
</article>


<table></table>

<article>
    <header>
        <hgroup>
            <h1>
                TD and TH associated classes
            </h1>
            <h2>
                Move the mose over the cells to see its classes
            </h2>
        </hgroup>
    </header>
    <div id="info"></div>
</article>


<article>
    <header>
        <hgroup>
            <h1>
                Usage
            </h1>
            <h2>
                Add gantt.js reference to your page
                in your scripts section
            </h2>
        </hgroup>
    </header>
<div>
        &lt;script src="~/Scripts/Gantt/gantt.js"&gt&lt;/script&gt;
</div>        

</article>



<article>
    <header>
        <hgroup>
            <h1>
                Initialization
            </h1>
            <h2>
                new ro.GanttChart(table, start, end);
            </h2>
        </hgroup>
    </header>
<pre>
    <code>        
    var table = $("table:first");
    var start = new Date(2014, 0, 1);
    var end = new Date(2014, 0, 31);
    
    var gantt = new ro.GanttChart(table, start, end);
    gantt.loadJson("@Url.Action("GetRows", "Gantt")");

    // oprtionally you can pass data to your server action
    //gantt.loadJson("@Url.Action("GetRows", "Gantt")", {id: 1});
    </code>
</pre>
</article>

<article>
    <header>
        <hgroup>
            <h1>
                Optional parameters
            </h1>            
        </hgroup>
        <ul>
            <li>
                ganttParams
            </li>
            <li>
                ganttClasses
            </li>
        </ul>
    </header>
<pre>
    <code>        
    var params = 
    {                                                   // (optional) Defaults:
        skipDays: [0, 6],                               // index based [0-6] 0 corresponds to sundays
        days: ["S", "M", "T", "W", "T", "F", "S"],      // string array 
        columns: ["ID", "Task", "Duration"],            // string array     
        caption: "Gantt Chart",                         // string
        subheader: "Activities",                        // string    
    }
    var classes = 
    {
        header: {
            week: "gantt-week",                    
            subheader: "gantt-subheader",                    
            usercolumn: "gantt-husercolumn",
            day: "gantt-day",
        },

        days: {
            active: "gantt-active",
            cell: "gantt-cell",
            dayoff: "gantt-dayoff"
        },

        usercolumns: {
            usercolumn: "gantt-usercolumn"
        }
    }

    var table = $("table:first");
    var start = new Date(2014, 0, 1);
    var end = new Date(2014, 0, 31);
    
    var gantt = new ro.GanttChart(table, start, end, params, classes);
    gantt.loadJson("@Url.Action("GetRows", "Gantt")");
    </code>
</pre>
</article>


<article>
    <header>
        <hgroup>
            <h1>
                Events
            </h1>
            <h2>
                var promise = gantt.loadJson("@Url.Action("GetRows", "Gantt")");
            </h2>
        </hgroup>
    </header>
<pre>
    <code>        
    var table = $("table:first");
    var start = new Date(2014, 0, 1);
    var end = new Date(2014, 0, 31);
    
    var gantt = new ro.GanttChart(table, start, end);
    var promise = gantt.loadJson("@Url.Action("GetRows", "Gantt")");
    
    promise.done(function (d) {
        alert("server returned " + d.length + " rows");
    }); 
    </code>
</pre>
</article>


<article>
    <header>
        <hgroup>
            <h1>
                Json array of rows returned from server
            </h1>            
        </hgroup>
    </header>
<pre>
    <code>        
    // General format:
    [
        {
            "columns":["col 1","col 1","col 3"],  //user columns values
            "start":"/Date(1388556000000)/",      //C# DateTime serialized to json
            "end":"/Date(1388728800000)/",        //C# DateTime serialized to json
            "color":"red"                         //css3 valid color
        },        
    ] 
    // In tihs example:
    [
	    {"columns":["1","Modulo Login Kongestor","2 days"],"start":"/Date(1388556000000)/","end":"/Date(1388728800000)/","color":"red"},
	    {"columns":["2","Landing Page Kongestor","2 weeks"],"start":"/Date(1388728800000)/","end":"/Date(1389938400000)/","color":"green"},
	    {"columns":["3","Alta usuarios Kongestor","4 days"],"start":"/Date(1389938400000)/","end":"/Date(1390284000000)/","color":"blue"},
	    {"columns":["4","Autodestruir Kongestor","10 days"],"start":"/Date(1390284000000)/","end":"/Date(1391148000000)/","color":"gray"}
    ]
    </code>
</pre>
</article>

<a href="https://github.com/rogithub/ro.tests.job"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"></a>